.platform {
  background-color: $bg-dark;
  padding: 20px;
  .platform-layout {
    display: flex;
    justify-content: space-evenly;

    .problem-block {
      background-color: $bg-darker;
      padding: 10px;
      color: $font-lighter;
      border-radius: 5px;
      flex: 1;
    }

    .test-case-area {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;

      h3 {
        margin-bottom: 10px;
      }

      .test-case {
        flex: 50%;
      }
    }

    .problem-description {
      .description {
        margin-top: 20px;
      }
    }

    .coding-area {
      flex: 2;
      margin: 0 10px;

      .language-preference {
        display: flex;
        justify-content: space-between;
        .n-select {
          width: 160px;
        }
      }

      .platform-coding-area {
        width: 100%;
        height: 400px;
        margin-top: 20px;
      }
    }

    .result-area {
      .result-output {
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  }

  @import './monaco-editor.scss';
}
